

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px;
  border-radius: 25px;
  background-color: rgba(5, 38, 60, 0.109);
}

.card img {
  display: block;
  width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
}

.card-content h2 {
  margin-top: 0;
}

.card-content p {
  margin-bottom: 20px;
}

.card-content a {
  display: block;
  text-align: center;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: 200px;
  height: 200px;
  background-color: #ccc;
  border: 1px solid #999;
  text-align: center;
  margin: 10px;
}

@media (max-width: 768px) {
  .box {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 576px) {
  .box {
    width: 100px;
    height: 100px;
  }
}